<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>UE206 - S2 Parcours 2</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	</head>
	
<body>  
		
	<header id="header">
        
     	<div class="row align-center">
			
			<div class="header-logo">
				<h1>
                   <a href="../index.html" title="Retour à l'accueil du Village Vicomte">
                       <img src="../assets/images/logo.png" alt="Village Vicomte" class="header-logo-img">
                   </a>
                </h1>
			</div><!-- eof .header-logo -->
			
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link is-active" title="Hébergements">Hébergements</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Commerces">Commerces</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Activités">Activités</a>
                    </li>                    
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Réservations">Réservations</a>
                    </li>                    
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Infos pratiques">Infos pratiques</a>
                    </li>                    
                </ul>
             </nav><!-- eof .header-nav -->	
		</div><!-- eof .row -->	
	</header><!-- eof .header -->
						
	<section class="hebergement-images">
        
        <div class="hebergement-images-col">
            <img src="../assets/images/hebergement/hebergement-exterieur.jpg" alt="Notre maison">
        </div>
        
        <div class="hebergement-images-col">
            <div class="hebergement-images-thumbnail is-active">
                <img src="../assets/images/hebergement/hebergement-exterieur.jpg" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-interieur-1.jpg" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-interieur-2.jpg" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-interieur-3.png" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-exterieur.jpg" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-interieur-1.jpg" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-interieur-2.jpg" alt="Notre maison">
            </div>
            <div class="hebergement-images-thumbnail">
                <img src="../assets/images/hebergement/hebergement-interieur-3.png" alt="Notre maison">
            </div>
        </div>
      
    </section><!-- eof .hebergement-images -->

    <section class="hebergement-presentation">
        <div class="row">
            <div class="hebergement-presentation-col">
                <h2>La maison sous la coline</h2>
                <p>Gingerbread lemon drops candy canes carrot cake cheesecake. Apple pie dessert cotton candy icing gingerbread fruitcake tart. Candy canes ice cream bonbon muffin brownie halvah tart jelly-o chocolate cake. Lemon drops pie chocolate bar jelly candy.</p>

                <p>Toffee muffin cupcake pudding tootsie roll liquorice. Lollipop gingerbread chupa chups croissant cake topping bear claw chocolate bar. Brownie pudding ice cream candy canes gummies chocolate cake. Toffee shortbread cotton candy dessert jelly bear claw.</p>

                <p>Dragée pudding chocolate cake gingerbread cheesecake carrot cake jelly. Cake gummi bears soufflé shortbread pastry. Sugar plum liquorice caramels cotton candy cheesecake halvah muffin marzipan.</p>

                <p>Donut liquorice wafer bear claw donut cotton candy halvah chocolate cake. Liquorice cupcake marshmallow cake jelly soufflé gummies. Lollipop macaroon biscuit macaroon danish carrot cake. Donut marzipan jelly pie muffin.</p>

                <p>Tiramisu jujubes gummi bears liquorice danish dessert tart fruitcake. Marzipan tiramisu apple pie fruitcake chocolate cake halvah pie jelly beans. Oat cake soufflé bear claw tiramisu lemon drops icing oat cake muffin. </p>
            </div><!--eof .hebergement-presentation-col -->
            
            <aside class="hebergement-presentation-col">
                <h3 class="hebergement-subtitle">La maison en bref</h3>
                <ul class="hebergement-presentation-list">
                    <li><span class="hebergement-label">Capacité : </span>12 personnes</li>
                    <li><span class="hebergement-label">Nombre de chambres : </span>5</li>
                    <li><span class="hebergement-label">Surface : </span>255 m²</li>
                    <li><span class="hebergement-label">Orientation : </span>Sud-Ouest</li>
                    <li><span class="hebergement-label">Animaux : </span>Toujours</li>
                    <li><span class="hebergement-label">Wifi : </span>Non</li>             
                </ul>
                <h3 class="hebergement-subtitle">Services</h3>
                <ul class="hebergement-presentation-list">
                    <li><span class="hebergement-label">Location de draps : </span>10.00 € (par paire)</li>
                    <li><span class="hebergement-label">Location kit linge de toilette : </span>5.00 € (par personne)</li>
                    <li><span class="hebergement-label">Petits déjeuners : </span>10.00 € (par personne)</li>
                    <li><span class="hebergement-label">Ménage au départ : </span>32.00 € (forfait)</li>
                    <li><span class="hebergement-label">Garage commun et fermé : </span>Compris dans le prix de la location</li>
                </ul>
            </aside><!--eof .hebergement-presentation-col -->
        </div><!--eof .hebergement-presentation -->
    
    </section><!-- eof .hebergement -->
    
    <aside class="avis">
        <div class="avis-content">
            <h2>Les avis des précédents résidents</h2>
            <div class="avis-global">
                4.6/5
                <span class="avis-global-number">sur 89 notes</span>
            </div>
            <div class="avis-details">
                
                <div class="avis-details-item">
                    <span class="avis-details-item-label">Excellent</span>
                    <span class="avis-details-item-barre-container">
                        <span class="avis-details-item-barre" style="width: 66%"></span>
                    </span>
                    <span class="avis-details-item-number">59</span>
                </div>
                
                <div class="avis-details-item">
                    <span class="avis-details-item-label">Très bon</span>
                    <span class="avis-details-item-barre-container">
                        <span class="avis-details-item-barre" style="width: 34%"></span>
                    </span>
                    <span class="avis-details-item-number">30</span>
                </div>
                
                <div class="avis-details-item">
                    <span class="avis-details-item-label">Bon</span>
                    <span class="avis-details-item-barre-container">
                        <span class="avis-details-item-barre" style="width: 0"></span>
                    </span>
                    <span class="avis-details-item-number">0</span>
                </div>
                
                <div class="avis-details-item">
                    <span class="avis-details-item-label">Ordinaire</span>
                    <span class="avis-details-item-barre-container">
                        <span class="avis-details-item-barre" style="width: 0"></span>
                    </span>
                    <span class="avis-details-item-number">0</span>
                </div>
                
                <div class="avis-details-item">
                    <span class="avis-details-item-label">Mauvais</span>
                    <span class="avis-details-item-barre-container">
                        <span class="avis-details-item-barre" style="width: 0"></span>
                    </span>
                    <span class="avis-details-item-number">0</span>
                </div>
                
                
            </div>
            
            <a class="button" href="#" title="Lire les avis">Lire les avis détaillés</a>

        </div><!-- eof .avis-content -->
        
    </aside><!-- eof avis -->
     
    <aside class="reservation">
        <div class="reservation-content">
            <h2>Envie de venir nous voir ?</h2>
            <p>Tenté par l'aventure ? Vérifiez les disponibilités de nos hébergements en fonction du nombre de personnes et de vos dates !</p>
        
            <form action="#" method="POST" class="reservation-form">
                <fieldset>
                    <legend>Combien viendront nous rendre visite ?</legend>
                    <p class="third">
                        <label for="resa-adult">Adultes : </label>
                        <select name="resa-adult" id="resa-adult" required>
                            <option value="">Nb d'adultes</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </p>
                    <p class="third">
                        <label for="resa-child">Enfants : </label>
                        <select name="resa-child" id="resa-child" required>
                            <option value="">Nb d'enfants</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </p>
                    <p class="third">
                        <label for="resa-animals">Animaux : </label>
                        <select name="resa-animals" id="resa-animals" required>
                            <option value="">Nb d'animaux</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </p>                
                </fieldset>
                <fieldset>
                    <legend>Quand aura-t-on le plaisir de vous voir ?</legend>
                    <p>
                        <label for="resa-start">Du </label>
                        <input type="date" name="resa-start" id="resa-start" required>
                    </p>
                    <p>
                        <label for="resa-end">au </label>
                        <input type="date" name="resa-end" id="resa-end" required>
                    </p>
                    <p>
                        <input class="button" type="submit" value="Vérifier qu'une maison est disponible pour vous accueillir">
                    </p>      
                </fieldset>
            </form>
        </div><!-- eof .reservation-content -->

    </aside><!-- eof .questions -->
    
	<!-- Footer -->	
	<footer id="footer">
        <div class="row">
            <div class="footer-infos">
                <p class="footer-infos-title">Infos pratiques</p>
                <address>
                  La Comté<br>Terre du Milieu
                </address>
            </div><!-- eof .footer-infos -->
            
            <div class="footer-infos">
                <p class="footer-infos-title">Besoin de plus d'informations ?</p>
                <p><a class="button" href="mailto:monmail@mail.com" title="Envoyez-nous un message">Contactez-nous par mail !</a></p>
                <p><span class="footer-link-suptitle">ou par téléphone</span><br>
                    <a class="footer-link" href="tel:0555555555" title="Appelez-nous">05.55.55.55.55</a></p>
            </div><!-- eof .footer-infos -->
            
            <div class="footer-infos">
                <p class="footer-infos-title">Plan du site</p>
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <a href="#" class="footer-nav-link" title="Hébergements">Hébergements</a>
                        </li>
                        <li>
                            <a href="#" class="footer-nav-link" title="Commerces">Commerces</a>
                        </li>
                        <li>
                            <a href="#" class="footer-nav-link" title="Activités">Activités</a>
                        </li>                    
                        <li>
                            <a href="#" class="footer-nav-link" title="Réservations">Réservations</a>
                        </li>                    
                        <li>
                            <a href="#" class="footer-nav-link" title="Infos pratiques">Infos pratiques</a>
                        </li>                    
                    </ul>
                 </nav><!-- eof .footer-nav -->
            </div><!-- eof .footer-infos -->
        </div>
        
	</footer><!-- eof .footer -->		
</body>
</html>